<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Map</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"/>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/about">About</a>
        </div>
      </div>
    </nav>
    <p> All the information about the author's was collected from the NCBI website.</p>
    <img src="https://steemitimages.com/640x0/https://scitec949842057.files.wordpress.com/2018/03/ncbi-logo.png" alt="NCBI logox" width="200" height="100">
    <p>
        add info about the group members, and the work contributed. Or something else. or remove this page
    </p>
</body>
</html>