<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Map</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}"/>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/about">About</a>
        </div>
      </div>
    </nav>
    <h2>
        Information Source
    </h2>
    <img src="../static/images/ncbi.jpg" alt="NCBI logox" width="200" height="100">
    <p>
        All the information about the author's was collected from the NCBI E-Utils
        <br>
            <br>&#187; <u>esearch</u> - to get PMIDs of the queried author
            <br>&#187; <u>efetch</u> - to get co-authors from all the cached publications.

    </p>
    <br>
    <div class="container">
        <h4><u>Group Members and their roles:</u></h4>
        <p>
            <a href="https://gitlab-sysprog.informatik.uni-bonn.de/rathod"> Dhruv - </a>
            backend (data layer, including requests to PubMed, caching)
        </p>
        <p>
            <a href="https://gitlab-sysprog.informatik.uni-bonn.de/bareth"> Marlo - </a>
            backend (business logic, including graphs creation)
        </p>
        <p>
            <a href="https://gitlab-sysprog.informatik.uni-bonn.de/yalchyk"> Ilya - </a>
            CLI, team coordination
        </p>
        <p>
            <a href="https://gitlab-sysprog.informatik.uni-bonn.de/mishra"> Pragya - </a>
            Web UI, QA
        </p>

    </div>
</body>
</html>