<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Map</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 700px;
      }
      h2 {color: #ff0000;}
    </style>
</head>
<body style="background-color: palegoldenrod;">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">Home</a>
          <a class="navbar-brand" href="about.html">About</a>
        </div>
      </div>
    </nav>
    <div style="margin-left:left">
        <img src="https://lh3.googleusercontent.com/proxy/EqkFQsdNU1Gwq3YxSD0PYKdJVLtxkAVLvboVdDEtEah7gsPb5H_oLPYm0z_6j8ZadgcOoNX1TzdCE2xasbyQeGUhoGRyKBig4Q" alt="writer" width="150" height="150">
    </div>
    <div style="text-align:center">
        <h1 style="color: darkorange; font-size:230%;font-family: Castellar;">&diams; Author Map &diams;</h1>
        <h3 style="color:DodgerBlue; font-size:180%;font-family: Arial;">  Author Information</h3>
        <form method="POST" action="">
        <textarea name="textbox" placeholder="Author's name"></textarea>
        <button type="submit" name="submit">Submit</button>
        </form>
        <h4>Results</h4>
<!--        if results found then print the table, else show another msg-->
        <p>Table of all related authors</p>
        <h3 style="color:DodgerBlue; font-size:180%;font-family:Arial;">  Co-author Network</h3>
        <p>  Please enter names of the 2 authors separated by a comma "," </p>
        <form method="POST" action="">
        <textarea name="textbox" placeholder="Name_1 , Name_2"></textarea>
        <button type="submit" name="submit">Submit</button>
        </form>
        <!--        if results found then print the table, else show another msg-->
        <h4>Results</h4>
        <p> then give option to save</p>

    </div>

</body>
</html>